.SettingsView label {
  display: block;
  margin-bottom: 1rem;
}

.SettingsView label span {
  display: block;
}

.SettingsView .ImgPreviewWrapper {
  display: flex;
  align-items: center;
  margin: 0.25rem 0;
}

.SettingsView .ImgPreviewWrapper img {
  width: 48px;
  height: 48px;
}

.SettingsView .ImgPreviewWrapper button,
.SettingsView label span button {
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  padding: 0;
  border-radius: 50%;
  background-color: lightgrey;
  border: none;
  box-shadow: inset 2px 2px 4px #FFFFFF80,
    inset -2px -2px 4px #00000080,
    0 0 4px #00000080;
  margin-left: 1rem;
}